# ==========================================
# [Progetto] vX.X
# ==========================================
MY_VARIABLE=my_value_here

# ==========================================
# [Service]
# ==========================================
SERVICE_VARIABLE=my_value_here
